@page
@model Event.RazorWebApp.Pages.Category.EventPage.CreateModel
@{
    ViewData["Title"] = "Event - Create Page";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group ">
                    <label asp-for="Event.EventName" class="control-label ">Name</label>
                    <input type="text" asp-for="Event.EventName" class="form-control " />
                    <span asp-validation-for="Event.EventName" class="text-danger "></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Event.EventDate" class="control-label ">Date</label>
                    <input type="datetime-local" asp-for="Event.EventDate" class="form-control " />
                    <span asp-validation-for="Event.EventDate" class="text-danger "></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Event.EventType.EventTypeName" class="control-label ">Type</label>
                    <select asp-for="Event.EventType.EventTypeName" class="form-control " asp-items="ViewBag.EventTypes"></select>
                </div>
                <div class="form-group ">
                    <label asp-for="Event.EventDescription" class="control-label ">Description</label>
                    <input type="text" asp-for="Event.EventDescription" class="form-control " />
                    <span asp-validation-for="Event.EventDescription" class="text-danger "></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Event.NumberTickets" class="control-label ">Number Tickets</label>
                    <input type="number" asp-for="Event.NumberTickets" class="form-control " />
                    <span asp-validation-for="Event.NumberTickets" class="text-danger "></span>
                </div>
                @* <div class="form-group ">
                    <label asp-for="Payment.Status" class="control-label "></label>

                    <select asp-for="Payment.Status" class="control-label ">
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>

                    <span asp-validation-for="Payment.Status" class="text-danger"></span>
                </div> *@
                <div class="form-group ">
                    <label asp-for="Event.Sponsor" class="control-label ">Sponsor</label>
                    <input type="text" asp-for="Event.Sponsor" class="form-control " />
                    <span asp-validation-for="Event.Sponsor" class="text-danger "></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Event.SubjectCode" class="control-label ">Subject Code</label>
                    <input type="text" asp-for="Event.SubjectCode" class="form-control " />
                    <span asp-validation-for="Event.SubjectCode" class="text-danger "></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Event.Location" class="control-label ">Location</label>
                    <input type="text" asp-for="Event.Location" class="form-control " />
                    <span asp-validation-for="Event.Location" class="text-danger "></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="create-button task-button" />
                </div>
            </form>
        </div>
    </div>

    <div class="back-to-list-button">
        <a asp-page="Index" class="get-button task-button ">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    .div-margin-field {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 100%;
        height: 2%;
    }

    .div-margin-field {
        margin-left: 2%;
    }

    .div-parents-all {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .task-button {
        margin: 3px 3px 3px 3px;
        color: #fff;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .get-button {
        background-color: #0000FF;
    }

        .get-button:hover {
            background-color: #3333CC;
        }

    .create-button {
        background-color: #00CC00;
    }

        .create-button:hover {
            background-color: #005500
        }

    .back-to-list-button {
        margin-top: 2%;
    }
</style>
