@page
@model Event.RazorWebApp.Pages.TicketPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Ticket.TicketId" />
            <input type="hidden" asp-for="Ticket.CreatedDate" />
            <input type="hidden" asp-for="Ticket.CreatedBy" />
            <div class="form-group">
                <label asp-for="Ticket.EventId" class="control-label"></label>
                <select asp-for="Ticket.EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                <span asp-validation-for="Ticket.EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TicketType" class="control-label"></label>
                <input asp-for="Ticket.TicketType" class="form-control" />
                <span asp-validation-for="Ticket.TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Price" class="control-label"></label>
                <input asp-for="Ticket.Price" class="form-control" />
                <span asp-validation-for="Ticket.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.AvailableQuantity" class="control-label"></label>
                <input asp-for="Ticket.AvailableQuantity" class="form-control" />
                <span asp-validation-for="Ticket.AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.StartedTime" class="control-label"></label>
                <input asp-for="Ticket.StartedTime" class="form-control" />
                <span asp-validation-for="Ticket.StartedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.EndedTime" class="control-label"></label>
                <input asp-for="Ticket.EndedTime" class="form-control" />
                <span asp-validation-for="Ticket.EndedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.UpdatedBy" class="control-label"></label>
                <input asp-for="Ticket.UpdatedBy" class="form-control" />
                <span asp-validation-for="Ticket.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Status" class="control-label"></label>
                <select asp-for="Ticket.Status" class="form-control">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="Ticket.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
